@import url('bootstrap');
@import url('bootstrap-icons');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #1d1c1c;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: white;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  li {
    padding-right: 1rem;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

input::placeholder {

  color: gray !important
}

.card {
  background-color: #1d1c1c;
  color: white;
  border: none;

  p {
    text-transform: uppercase;
  }

  img {

    width: 60%;
    height: 100%;
    object-fit: cover;
  }
}