@import url('bootstrap');
@import url('bootstrap-icons');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1d1c1c;

  h1 {
    color: white;
  }
}

.card {
  background-color: #1d1c1c;
  color: white;
  border: none;

  p {
    text-transform: uppercase;
  }

  img {

    width: 60%;
    height: 100%;
    object-fit: cover;
  }
}